/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: h5bp.com/j */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
/*
 * Correct overflow not hidden in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible;
}
/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* Contain floats: h5bp.com/q */.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
/* Botões bacanas by Sérgio Lopes
 *   http://sergiolopes.github.com/css3-experimentos/botoes-css3/ 
 */
.nicebutton {
  /* fundo gradiente */

  background-color: #444;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.05)));
  /* letterpress effect */

  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), -2px 0 1px rgba(0, 0, 0, 0.25);
  /* sombra pra fora, pra profundidade */

  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  /* gradiente e sombra no IE */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#60FFFFFF,endColorstr=#10FFFFFF), progid:DXImageTransform.Microsoft.Shadow(color=#888888,direction=180,strength=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#60FFFFFF,endColorstr=#10FFFFFF), progid:DXImageTransform.Microsoft.Shadow(color=#888888,direction=180,strength=1)";
  /* borda redonda */

  -moz-border-radius: 0.35em;
  -webkit-border-radius: 0.35em;
  border-radius: 0.35em;
  color: #FFF;
  cursor: pointer;
  font: bold 16px "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
  margin: 0.2em;
  padding: 0.25em 0.4em;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  user-select: none;
  -moz-user-select: none;
  zoom: 1;
  /* hasLayout no IE */

  /* Cross browser inline block hack - http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */

  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *display: inline !important;
}
.nicebutton:hover {
  /* fundo gradiente */

  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.01));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.01));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.01));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.01));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.25));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.05)));
  /* gradiente e sombra no IE */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#02000000), progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,direction=180,strength=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#02000000), progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,direction=180,strength=1)";
  /* sombra pra fora, pra profundidade */

  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.nicebutton:active {
  /* sombra pra dentro, pra profundidade negativa */

  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0;
  /* webkit não suporta inset */

  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
  /* quando clica, desce um pouquinho */

  top: 1px;
}
/* Gradiente fake no Opera, FF3.5-, Safari 3 
     * (opcional - precisa do detector de gradientes em JavaScript)
     */
.no-gradient .nicebutton {
  line-height: 1;
}
.no-gradient .nicebutton:before, .no-gradient .nicebutton:after {
  content: ' ';
  display: block;
  height: 0.8em;
  /* reset do reflexo */

  opacity: 1;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-gradient .nicebutton:before {
  background: rgba(255, 255, 255, 0.25);
  margin: -0.25em -0.4em -0.5em -0.4em;
  -moz-border-radius-topleft: 0.35em;
  -moz-border-radius-topright: 0.35em;
  -webkit-border-top-left-radius: 0.35em;
  -webkit-border-top-right-radius: 0.35em;
  border-top-left-radius: 0.35em;
  border-top-right-radius: 0.35em;
}
.no-gradient .nicebutton:hover:before {
  background: rgba(0, 0, 0, 0.3);
}
.no-gradient .nicebutton:after {
  background: rgba(255, 255, 255, 0);
  margin: -0.5em -0.4em -0.25em -0.4em;
  -moz-border-radius-bottomleft: 0.35em;
  -moz-border-radius-bottomright: 0.35em;
  -webkit-border-bottom-left-radius: 0.35em;
  -webkit-border-bottom-right-radius: 0.35em;
  border-bottom-left-radius: 0.35em;
  border-bottom-right-radius: 0.35em;
}
.no-gradient .nicebutton:hover:after {
  background: rgba(0, 0, 0, 0.2);
}
.no-gradient .nicebutton:active:after {
  /* reset do reflexo */

  margin: -0.5em -0.4em -0.25em -0.4em;
  height: 0.8em;
}
/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #005a82;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #005a82;
  color: #fff;
  text-shadow: none;
}
html {
  background: url(img/bg.gif) repeat;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
header, section, .container {
  clear: both;
  margin: 0 auto;
  min-width: 920px;
  max-width: 1100px;
  width: 95%;
}
header {
  height: 500px;
  margin-bottom: 50px;
}
header p, header hgroup {
  font-family: 'Tienne', serif;
  padding: 10px;
  margin: 0;
  margin-left: 40%;
  text-align: center;
  width: 60%;
}
header p {
  color: #999;
  font-size: 220%;
  font-weight: lighter;
  padding: 1.2em 6% 0 6%;
  text-shadow: 0px -1px 1px rgba(200, 200, 200, 0.5);
  width: 46%;
}
header hgroup {
  padding: 2em 0;
}
header h1 {
  color: #222;
  font-size: 250%;
  font-weight: normal;
  margin-bottom: 0;
  text-shadow: 0px -1px 1px rgba(150, 150, 150, 0.5);
  text-transform: uppercase;
}
header h2 {
  color: #555;
  font-family: Arial;
  font-weight: normal;
  font-size: 170%;
  margin: 0;
}
header h2:before {
  content: '- ';
}
header h2:after {
  content: ' -';
}
header .compreja {
  margin-left: 40%;
  width: 58%;
}
header img {
  border: 5px solid white;
  right: 50%;
  height: auto;
  margin-right: 10%;
  max-width: 340px;
  position: absolute;
  top: 10px;
  width: 38%;
  z-index: 1;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
header #logos {
  background: #005a82;
  left: 0;
  position: absolute;
  text-align: center;
  top: 450px;
  width: 100%;
}
header #logos a {
  background: url(img/logos.png) no-repeat;
  display: inline-block;
  height: 70px;
  overflow: hidden;
  margin: 2px 16px 4px 16px;
  text-indent: -999em;
}
header #logos a[href='http://www.elsevier.com.br'] {
  background-position: 0 0;
  margin-left: 390px;
  width: 70px;
}
header #logos a[href='http://www.campus.com.br'] {
  background-position: -80px -10px;
  width: 70px;
}
header #logos a[href='http://www.caelum.com.br'] {
  background-position: -165px -10px;
  width: 120px;
}
.ie8 header img {
  height: 500px;
  width: 340px;
}
.compreja {
  text-align: center;
}
.compreja h3 {
  font-family: 'Tienne', serif;
  color: #999;
  font-size: 190%;
  font-weight: lighter;
  margin: 10px;
  text-shadow: 0px -1px 1px rgba(200, 200, 200, 0.5);
}
.compreja a {
  background: #ff7f00;
  color: white;
  font-size: 150%;
  font-weight: normal;
  padding: 6px 4%;
}
.compreja a:hover {
  color: white;
}
.compreja span {
  display: block;
  font-size: 130%;
}
#curso {
  background: #005a82;
  margin: 35px 0 0 0;
  width: 100%;
}
#curso h2, #curso h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
#curso .container {
  text-align: right;
}
#curso hgroup {
  font-family: Arial, sans-serif;
  float: left;
  text-align: center;
  width: 57%;
}
#curso hgroup h2 {
  color: white;
  font-size: 210%;
  padding-top: 10px;
}
#curso hgroup h3 {
  color: #d4cc88;
  font-size: 160%;
  padding: 5px 20px 0;
}
#curso .fj91 {
  background: url(http://www.caelum.com.br/imagens/cursos/icones/100/FJ-91.png) top left no-repeat;
  display: inline-block;
  height: 100px;
  margin: 6px;
  position: relative;
  text-align: left;
  width: 41%;
}
#curso .fj91 a {
  display: block;
  height: 100%;
  padding: 7px 0 0 110px;
  max-width: 280px;
  text-decoration: none;
}
#curso .fj91 h3 {
  font-weight: normal;
  margin: 0;
}
#curso .fj91 h3.sigla a {
  color: white;
  height: 35px;
  font-size: 240%;
}
#curso .fj91 h3.nome a {
  color: white;
  font-size: 130%;
  height: 70px;
}
#outroscursos {
  background: #005a82;
  margin: 0 0 35px 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
#outroscursos .container {
  background: #085171;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 1px 1px 1px #033151;
  -webkit-box-shadow: inset 1px 1px 1px #033151;
  box-shadow: inset 1px 1px 1px #033151;
}
#outroscursos h2 {
  color: white;
  display: inline-block;
  font-size: 150%;
  font-weight: normal;
  margin: 0;
  padding-top: 19px;
  vertical-align: top;
  width: 20%;
}
#outroscursos h3 {
  display: inline-block;
  font-size: 135%;
  margin: 8px;
  min-height: 50px;
  text-align: left;
  vertical-align: top;
  width: 35%;
}
#outroscursos h3 a {
  color: white;
  display: block;
  font-weight: normal;
  padding-left: 60px;
  padding-top: 4px;
  text-decoration: none;
}
#outroscursos .online {
  background: #e5aa16;
  color: #333;
  padding: 1px 3px;
  font-size: 80%;
  font-weight: normal;
  text-shadow: 0px -1px 1px rgba(200, 200, 200, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#outroscursos .fj16 {
  background: url(http://www.caelum.com.br/imagens/cursos/icones/50/FJ-16.png) no-repeat left top;
}
#outroscursos .fj95 {
  background: url(img/FJ-95.png) no-repeat left top;
}
#descricao {
  font-family: Georgia, serif;
  font-size: 120%;
  padding-top: 15px;
  position: relative;
}
#descricao #social {
  position: absolute;
  left: 8px;
  text-align: center;
  top: 15px;
  width: 70px;
}
#descricao #social .fb-like, #descricao #social #___plusone_0, #descricao #social .twitter-share-button {
  margin-bottom: 20px !important;
}
#descricao #texto {
  margin-left: 8%;
  width: 92%;
  /* multi-coluna com firefox, chrome, safari */

  -moz-column-count: 2;
  -moz-column-gap: 0;
  -moz-column-rule: none;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -webkit-column-rule: none;
  /* css3 */

  column-count: 2;
  column-gap: 0;
  column-rule: none;
}
#descricao p {
  margin-left: 20px;
  margin-right: 20px;
}
#descricao p:first-child {
  margin-top: 0;
}
section h1 {
  font-family: Tienne, serif;
  font-size: 250%;
  font-weight: normal;
  margin: 0 auto;
  text-transform: uppercase;
  width: 95%;
}
section h1:before {
  content: '♦ ';
  font-size: 60%;
}
#publico {
  position: relative;
}
#publico p {
  font-family: Georgia, serif;
  font-size: 120%;
  margin: 3%;
  width: 44%;
}
#publico #professor {
  color: #555;
  font-family: 'Tienne', serif;
  font-size: 220%;
  font-weight: normal;
  line-height: 1.55em;
  right: 0;
  margin: 0.9em 2em;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 36%;
}
#publico #professor:before, #publico #professor:after {
  content: '§';
  color: #005a82;
  display: block;
  font-family: Baskerville, Times, Tienne, serif;
  font-size: 200%;
  position: absolute;
  left: 49%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}
#publico #professor:before {
  top: -40px;
}
#publico #professor:after {
  bottom: -60px;
}
#publico .compreja {
  width: 50%;
}
#tectura {
  background: #005a82;
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
}
#tectura p {
  background: url(img/tectura.png) right -5px no-repeat;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 200%;
  font-weight: normal;
  margin: 0 auto;
  max-width: 900px;
  min-height: 90px;
  width: 80%;
}
#tectura a {
  color: white;
  display: block;
  padding: 12px 0 0 50px;
  text-align: center;
  text-decoration: none;
  width: 50%;
}
#conteudo {
  background: white;
  max-width: none;
  margin-bottom: 0;
  padding-bottom: 30px;
  width: 100%;
}
#conteudo h1 {
  margin-top: 1em;
  padding-left: 3.5%;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
#conteudo h1 + ol {
  list-style-type: none;
  margin: 20px auto;
  max-width: 895px;
  padding: 0;
  width: 85%;
  /* multi-coluna com firefox, chrome, safari */

  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -moz-column-rule: none;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  -webkit-column-rule: none;
  /* css3 */

  column-count: 2;
  column-gap: 1em;
  column-rule: none;
}
#conteudo h1 + ol li {
  font-weight: bold;
  margin-bottom: 1em;
}
#conteudo ol ol {
  margin: 0;
}
#conteudo ol ol li {
  font-weight: normal;
  margin: 0;
}
#conteudo a {
  color: #005a82;
}
#conteudo a:visited {
  color: #805070;
}
#conteudo a:hover {
  color: #285bFF;
}
#autores h1 {
  padding-bottom: 0.5em;
}
#autores .autor {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 2em 0 0 4%;
  min-height: 200px;
  min-width: 240px;
  position: relative;
  vertical-align: top;
  width: 27%;
}
#autores .autor img {
  border: 3px solid white;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
#autores .autor h2 {
  color: #888;
  font-family: Tienne, serif;
  font-size: 200%;
  font-weight: normal;
  position: absolute;
  left: 110px;
  top: 0;
  width: 10px;
}
#autores .autor p {
  font-family: Georgia, serif;
  padding-top: 1em;
}
#autores .autor + p {
  color: #888;
  font-family: Tienne, serif;
  font-size: 200%;
  margin: 1.4em 0 2em 0;
  text-align: center;
}
#autores .autor + p a {
  color: #005a82;
}
#autores .autor + p a:hover {
  text-underline: none;
}
#facebook {
  background: white;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
#facebook span, #facebook .fb-comments {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
#facebook iframe {
  max-width: 800px;
  width: 97% !important;
}
#fb-root iframe {
  width: 100% !important;
}
footer {
  background: #005a82;
  clear: both;
  margin: 0;
  min-height: 320px;
  width: 100%;
}
footer .container {
  position: relative;
}
footer hgroup {
  padding-top: 1em;
  position: relative;
  text-align: center;
  width: 40%;
}
footer hgroup:after {
  bottom: -1.2em;
  content: '§';
  color: white;
  display: block;
  font-family: Baskerville, Times, Tienne, serif;
  font-size: 300%;
  font-weight: normal;
  position: absolute;
  left: 49%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}
footer h1 {
  color: white;
  font-family: Tienne, serif;
  font-size: 170%;
  font-weight: normal;
  margin-bottom: 6px;
  text-transform: uppercase;
}
footer h2 {
  color: #D4CC88;
  font-family: Arial, sans-serif;
  font-size: 130%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
footer h2:before {
  content: '- ';
}
footer h2:after {
  content: ' -';
}
footer ul {
  margin: 5em 5% 0 5%;
  padding: 0;
  width: 40%;
  /* multi-coluna com firefox, chrome, safari */

  -moz-column-count: 2;
  -moz-column-gap: 0;
  -moz-column-rule: none;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -webkit-column-rule: none;
  /* css3 */

  column-count: 2;
  column-gap: 0;
  column-rule: none;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a:visited {
  color: white;
}
footer ul li a:hover {
  color: #AAF;
  text-decoration: underline;
}
footer ul li.maior {
  margin-bottom: 1em;
}
footer ul li:last-child {
  margin-bottom: 2em;
}
footer img {
  border: 3px solid white;
  float: left;
  margin: 0 1em;
  right: 200px;
  position: absolute;
  width: 205px;
  top: 5px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
footer #logos {
  position: absolute;
  right: 0;
  text-align: center;
  top: 10px;
  width: 150px;
}
footer #logos a {
  background: url(img/logos.png) no-repeat;
  display: inline-block;
  height: 70px;
  overflow: hidden;
  margin: 1em;
  text-indent: -999em;
}
footer #logos a[href='http://www.elsevier.com.br'] {
  background-position: 0 0;
  width: 70px;
}
footer #logos a[href='http://www.campus.com.br'] {
  background-position: -80px -10px;
  width: 70px;
}
footer #logos a[href='http://www.caelum.com.br'] {
  background-position: -165px -10px;
  width: 120px;
}
/* AJUSTES COM MEDIA QUERIES */
@media only screen and (max-width: 960px) {
  header, section, .container {
    margin: 0;
    min-width: 0;
    max-width: none;
    width: 100%;
  }
  header {
    margin-bottom: 3em;
    font-size: 12px;
  }
  header hgroup {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  header img {
    left: 5px;
    margin: 0;
  }
  header #logos {
    top: 430px;
  }
  #curso hgroup h2 {
    font-size: 180%;
  }
  #outroscursos .container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  #conteudo h1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width: 95%;
  }
  #tectura p {
    max-width: none;
    margin: 0;
    width: 98%;
  }
  #autores .autor {
    margin-left: 2%;
    width: 47%;
  }
  .compreja {
    font-size: 12px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 820px) {
  header {
    height: 450px;
  }
  header p {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 57%;
  }
  header #logos {
    top: 400px;
  }
  header #logos a[href='http://www.elsevier.com.br'] {
    margin-left: 40%;
  }
  #publico p {
    width: 52%;
  }
  #publico #professor {
    font-size: 200%;
    margin-right: 0.1em;
    width: 41%;
  }
  #conteudo {
    padding-bottom: 5px;
  }
  #conteudo h1 + ol {
    width: 96%;
  }
  .compreja {
    margin-top: 20px;
  }
  .compreja h3 {
    font-size: 170%;
    margin: 5px 0;
  }
}
@media only screen and (max-width: 730px) {
  header, .compreja {
    font-size: 10px;
  }
  header {
    height: 380px;
  }
  header #logos {
    top: 320px;
  }
  header img {
    width: 35%;
  }
  .compreja {
    margin-top: 12px;
  }
  .compreja h3 {
    margin: 0;
  }
  .compreja a {
    font-size: 175%;
  }
  #descricao #texto {
    margin-left: 12%;
    width: 88%;
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto;
  }
  #curso {
    font-size: 10px;
  }
  #curso hgroup {
    padding-top: 10px;
  }
  #curso .fj91 {
    padding-bottom: 5px;
    margin: 4px 0;
  }
  #curso .fj91 h3 {
    font-size: 130%;
  }
  #curso .fj91 h3.sigla a, #curso .fj91 h3.nome a {
    height: auto;
    padding-top: 0;
  }
  #outroscursos {
    font-size: 10px;
  }
  section h1 {
    font-size: 200%;
  }
  #publico #professor {
    font-size: 180%;
    margin-top: 0.3em;
    width: 38%;
  }
  #tectura {
    font-size: 10px;
  }
  #tectura p {
    background-position: right 4px;
    background-size: 50% auto;
    width: 100%;
  }
  #tectura a {
    padding-left: 0;
    width: 50%;
  }
  footer {
    min-height: 300px;
  }
  footer hgroup {
    font-size: 10px;
  }
  footer #logos {
    width: 120px;
  }
  footer #logos a {
    margin-left: 0;
    margin-right: 0;
  }
  footer img {
    right: 115px;
    top: 10px;
    width: 180px;
  }
  footer ul {
    margin-left: 2%;
    margin-right: 2%;
    width: 48%;
  }
}
@media only screen and (max-width: 590px) {
  header {
    height: 360px;
  }
  header p {
    font-size: 200%;
    padding-top: 0.5em;
  }
  header #logos {
    top: 300px;
  }
  header #logos a[href='http://www.elsevier.com.br'] {
    margin-left: 36%;
  }
  header #logos a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .compreja {
    margin-top: 8px;
  }
  .compreja a {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  section h1 {
    font-size: 180%;
  }
  #curso {
    margin-top: 20px;
  }
  #publico #professor {
    margin: 0;
    margin-top: 15px;
    line-height: 1.3em;
  }
  #autores .autor {
    min-width: 0;
  }
  #autores .autor + p {
    margin: 10px auto 20px 0;
  }
  footer {
    min-height: 325px;
  }
  footer hgroup {
    width: 65%;
  }
  footer ul {
    width: 70%;
  }
  footer img {
    right: 0;
    width: 145px;
  }
  footer #logos {
    top: 230px;
    width: 300px;
  }
}
@media only screen and (max-width: 522px) {
  header {
    height: 415px;
  }
  header p, header hgroup {
    margin: 0 auto;
    width: 98%;
  }
  header img {
    top: 180px;
    width: 33%;
  }
  header #logos {
    top: 320px;
  }
  header #logos a {
    margin-right: 0;
  }
  header .compreja {
    margin-left: 37%;
    margin-top: 5%;
    width: 60%;
  }
  .compreja h3 {
    margin: 10px 0;
  }
  #descricao {
    padding-top: 0;
  }
  #descricao #texto {
    margin-left: 17%;
    width: 83%;
  }
  #descricao p {
    margin-left: 10px;
    margin-right: 10px;
  }
  #curso hgroup {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  #curso hgroup h2 {
    font-size: 240%;
    padding-left: 2%;
    padding-right: 2%;
  }
  #curso hgroup h3 {
    font-size: 170%;
  }
  #curso .fj91 {
    background-position: bottom left;
    height: 100px;
    margin: 15px auto;
    width: 90%;
  }
  #curso .fj91 h3.nome a, #curso .fj91 h3.sigla a {
    padding-top: 7px;
  }
  #outroscursos .container {
    width: 98%;
  }
  #outroscursos h2 {
    padding-top: 8px;
  }
  #outroscursos h2, #outroscursos h3 {
    max-width: 270px;
    width: 95%;
  }
  #publico p {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  #publico #professor {
    margin: 40px auto;
    position: relative;
    right: auto;
    top: auto;
    width: 90%;
  }
  #publico #professor:before {
    top: -32px;
  }
  #publico #professor:after {
    bottom: -32px;
  }
  #publico .compreja {
    width: 100%;
  }
  #conteudo h1 + ol {
    width: 90%;
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto;
  }
  #autores .autor h2 {
    left: 103px;
    font-size: 180%;
  }
  footer {
    padding-bottom: 15px;
  }
  .compreja a {
    padding: 5px 8px;
  }
  .compreja span {
    font-size: 150%;
  }
}
@media only screen and (max-width: 440px) {
  header {
    height: auto;
  }
  header img {
    border-width: 3px;
    position: static;
    margin: 2em 5px;
    width: 180px;
  }
  header #logos {
    margin: 0;
    margin-top: -242px;
    position: static;
    z-index: -1;
  }
  header #logos a {
    margin-top: 4px;
    margin-left: 200px;
    margin-right: 0;
    width: 120px;
  }
  header #logos a[href='http://www.elsevier.com.br'] {
    margin-left: 200px;
  }
  header .compreja {
    margin: 3em auto;
    width: 100%;
  }
  header .compreja span {
    margin-top: 10px;
  }
  #descricao #social {
    display: block;
    height: 70px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    position: static;
    width: 100%;
  }
  #descricao #social .fb-like, #descricao #social #___plusone_0, #descricao #social .twitter-share-button {
    display: inline-block;
    margin-bottom: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    vertical-align: top;
  }
  #descricao #texto {
    margin-left: 0;
    width: 100%;
  }
  #autores .autor {
    display: block;
    margin: 1em auto;
    position: relative;
    width: 90%;
  }
  #autores .autor h2 {
    font-size: 200%;
  }
  #autores .autor p {
    padding-top: 0;
  }
  #autores .autor + p a {
    font-size: 60%;
  }
  #tectura a {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 67px;
    width: 95%;
  }
  #tectura p {
    background-position: bottom center;
    background-size: 60% auto;
  }
  footer hgroup {
    width: 100%;
  }
  footer ul {
    margin: 40px 0 15px 4%;
    width: 95%;
  }
  footer img {
    display: block;
    float: none;
    position: relative;
    right: auto;
    top: auto;
  }
  footer #logos {
    position: absolute;
    bottom: 0;
    right: 10px;
    top: auto;
    width: 130px;
  }
  footer #logos a {
    margin-bottom: 0;
  }
}
