.320up() {
/* start 320 media querie */

header {

	#chamada{
		font-size: 1.18em;
	}
	h2 {
		font-size: 1.2em;
	}

	img {
		margin-bottom: -230px;
		margin-left: -40%;
		max-width: 200px;
		width: 58%;
	}

	#logos {
		padding: 0.4em 0;
		position: relative;
		z-index: -1;

		a {
			margin-left: 62.5%;
			margin-right: 0;
		}
	}
}

.compreja {
	.nicebutton {
		font-size: 1.8em;
	}
}

#descricao {
	p {
		font-size: 1.08em;
	}
}
#social {
	margin: 20px auto;
	text-align: center;
	width: 90%;

	.fb-like, #___plusone_0, .twitter-share-button {
		display: inline-block;
	}
	.fb-like, #___plusone_0 {
		margin-right: 10% !important;
	}
}

#curso {
	.fj91 {
		h3.sigla a {
			font-size: 2em;
			padding-top: 4px;
		}
		h3.nome a {
			font-size: 1.5em;
		}
	}
}

#outroscursos {
	h3 {
		font-size: 13px;
	}
}

#tectura {
	p {
		background-position: center bottom;
		background-size: 70%;
	}
}

footer {
	ul {
		li {
			a {
				font-size: 1.15em;
				padding: 0.9em 0;
			}
			&.maior {
				margin-bottom: 2em;
			}
		}
	}
	hgroup {
		&:after {
			bottom: -1.2em;
			content: '§';
			color: white;
			display: block;
			font-family: Baskerville, Times, Tienne, serif; // TODO fonte melhor?
			font-size: 300%;
			font-weight: normal;
			position: absolute;
			left: 49%;
			
			-webkit-transform: rotate(90deg); 
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			
			filter: ~"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
			-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
		}
	}

	ul {
		margin-top: 4em;
	}

	img {
		margin: 0.5em;
		margin-top: -250px;
		width: 56%;
	}

	#logos {
		padding: 0.4em 0;
		position: relative;

		a {
			margin-left: 62%;
			margin-right: 0;
		}
	}
}

/* end 320 media querie */
}