.600up() {
	body {
		font-size: 15/16em;
	}

	.cc-barra {
		h1 {
			min-height: 66px;
			line-height: 66px / 2;
		}

		img {
			height: 66px;
			width: 228px;
		}
	}

	header {
		#chamada {
			width: 80%;
		}
		img {
			min-height: 145px;
			max-width: 280px;
			width: 40%;
		}
		hgroup {
			float: right;
			margin-right: 0.5%;
			margin-top: 26%;
			width: 56%;

			h1 {
				margin-top: -150px; // 25% de 600px
			}
		}
		.compreja {
			bottom: 80px;
			height: 30%;
		}
	}

	.compreja {
		font-size: 0.8em;
	}

	#curso .fj91 {
		// a partir de agora, fixa as fontes do curso, ja que o icone nao eh elastico
		max-width: 340px;
		width: 340px;

		h3.sigla a { 
			font-size: 30px; 
			height: 40px;
			padding-top: 4px;
		}
		h3.nome a  { 
			font-size: 24px; 
		}
	}

	#autores {
		.autor {
			h2 {
				left: 120px;
				top: 9px;
			}
		}
	}

	footer {
		ul {
			font-size: 0.9em;
		}
	}
}