@charset "utf-8";
/* CSS Document */
body {background-image:url(bg-body0.gif);
background-position:left top;
background-repeat:repeat;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:12px;
background-color:#181818;
margin:0px; 
padding:0px;
}

a.ghost{position:fixed; display:none; top:0px; left:50%;}

div#wrapper {
	width:718px;
	display:block;
	padding:0px;
	margin:0px auto;
	text-align:center;
	position:absolute;
	left:50%;
	margin-left:-359px;
	top:0px;
}

div#bluepart{
	background-image:url(bg-blue0.png);
	background-position:left top;
	background-repeat:no-repeat;
	width:267px;
	position:relative;
	margin:0px;
	padding:0px;
	float:left;	
	text-align:left;

}

#box-contato{
	position:absolute;
	display:block;
	width:100%;
	text-align:right;
	right:20px;
	bottom:40px;
	margin:0px;
	padding:0px;
}

#box-contato p {margin:0px; padding:0px;}
#box-contato a {margin:0px; padding:0px;}
	
div#content-frame {
	width:451px;
	display:block;
	position:relative;
	margin:0px;
	padding:0px;
	float:right;
	text-align:left;	
}

#menu-principal{background-image:url(bg-menu0.png);
background-repeat:no-repeat;
background-position:left top;
width:451px;
height:85px;
margin:0px;
padding:0px;
position:relative;
left:0px;
top:0px;}

#menu-principal ul{
	display:block;
	width:100%;
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-align:center;
	position:relative;
}

#menu-principal ul li {
	display:inline;
	margin:0px;
	padding:0px;
	position:relative;
}

#menu-principal ul li a{
	color:#FFF;
	text-decoration:none;
	font-size:2em;
	display:block;
	float:left;
	padding:0px;
	margin:20px 30px;
	position:relative;
}

#menu-principal ul li a:hover{ text-decoration:underline;}

#h1-intro{
	background-image:url(h1-intro.png);
background-repeat:no-repeat;
background-position:left top;
width:316px;
height:86px;
display:block;
margin:0px; 
padding:0px;}

#h1-intro span {display:none;}

#h1-conteudo{background-image:url(h1-conte.png);
background-repeat:no-repeat;
background-position:left top;
width:403px;
height:43px;
display:block;
margin:0px; 
padding:0px;}

#h1-conteudo span {display:none;}

#h1-autores{background-image:url(h1-autor.png);
background-repeat:no-repeat;
background-position:left top;
width:370px;
height:43px;
display:block;
margin:0px; 
padding:0px;}

#h1-autores span {display:none;}

div.content-page {
	margin:0px;
	padding:10px;
	text-align:left;
	background-color:#FFF;
	width:451px;
	display:block;
	position:relative;
	font-size: 14px;
}

div.content-page ol{
	margin:0px 0px 0px 30px;
	padding:0px;}

div.content-page ol li ol{
	margin:0px 0px 0px 10px;
	padding:0px 0px 0px 0px;
}

div.content-page p {
	margin:0px 0px 10px 0px;
	padding:0px;
	text-align:left;
}

div.content-page h2 {
font-family:Arial, Helvetica, sans-serif; 
font-size:2em;
margin:0px;
padding:0px;
font-weight:normal;
}